<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- my css -->
    <link rel="stylesheet" href="./CSS/style.css">
    <!-- cdn axios  -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!-- vue 3  -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <title>vue-email-list-random-generator</title>
</head>
<body>
    <div id="app">
        <div class="container">
            <!-- Show emails only if they are at least 10 -->
            <ul v-if="emails.length >= 10">
                <!-- Print the emails contained in the emails array -->
                <li v-for="(email,index) in emails" :key="index">{{email}}</li>
            </ul>
        </div>
    </div>
    <!-- my js  -->
    <script src="./JS/script.js"></script>
</body>
</html>